<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.openclaw.mc</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/node</string>
    <string>/Users/roscoe/go/src/github.com/madeinwyo/mission-control/node_modules/.bin/tsx</string>
    <string>/Users/roscoe/go/src/github.com/madeinwyo/mission-control/server.ts</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>NODE_ENV</key>
    <string>production</string>
  </dict>
  <key>WorkingDirectory</key>
  <string>/Users/roscoe/go/src/github.com/madeinwyo/mission-control</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/roscoe/go/src/github.com/madeinwyo/mission-control/mc-server.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/roscoe/go/src/github.com/madeinwyo/mission-control/mc-server-error.log</string>
</dict>
</plist>
